
<div class="buttonBar">
<button class="controlButton"  ng-disabled="mongoDB.resultStart==-1 || mongoDB.currentRecordNo==0" ng-click="previousRecord()">Previous Record</button>
<button  class="controlButton" ng-disabled="mongoDB.resultStart==-1 ||  mongoDB.currentRecordNo+1==mongoDB.totalRecs"  ng-click="nextRecord()">Next Record</button>
<button class="controlButton" ng-disabled="mongoDB.resultStart==-1" ng-click="showResults()">Back to Results</button>
<button class="controlButton"  ng-click="newSearch()">New Search</button>
</div>

<!--  This is a recursive template to show a record -->

<script id="subRecord.html" type="text/ng-template">
<table class="mongoRecord">
	<tr ng-if="!(getType(data) == 'Object')"  ><td   class="uifRecordValue"> {{data}}</td></tr>
    <tr ng-if="getType(data) == 'Object'" ng-repeat="(key,value) in data track by $index ">
		<!--Only Objects have Keys-->
        <td ng-if="getType(data) == 'Object'" class="uifRecordFieldname" >  {{key}}:</td>
        <td  class="uifRecordValue">
            <div ng-if="getType(value) === 'String'">

				<button ng-click="followLink(key,value)" ng-if="isLink(key)" href="test"> 
                 {{value}}
			    </button> 
				<span ng-if="!isLink(key)" href="test"> 
               	 {{value }}
			    </span> 
			</div>
            <div ng-if="getType(value) === 'Number'">
                {{value}}
            </div>
 			<div ng-if="getType(value) === 'Object'">
                <ng-include src="'subRecord.html'"
                                onload="data = value" />
            </div>
            <div ng-if="getType(value) === 'Array'">
                <table class="mongoArrayRecord">
					
                    <tr ng-repeat="subobject in value">
                        <td><ng-include
                                src="'subRecord.html'"
                                onload="data = subobject" /></td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
</script>

<div class="recordTop">
<!-- This little hack to force a reparse -->
<ng-include  ng-repeat="v in mongoDB.getCurrentRecord()" src="'subRecord.html'" onload="data = mongoDB.currentRecordJSON" ></ng-include>
</div>

